<table class="table table-cate">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Owner</th>
            <th scope="col">License Number</th>
            <th scope="col">Total Floor</th>
            <th scope="col"><a href="/hotel/add" class="btn btn-outline-info">Add</a></th>
        </tr>
    </thead>
    <tbody class="hotel">
        {{#each hotel}}
        <tr>
            <td>{{hotel_name}}</td>
            <td><img src="{{this.hotel_image}}" width="200" class="img-thumbnail"></td>
            <td>{{hotel_city}}</td>
            <td>{{hotel_address}}</td>
            <td>{{hotel_owner}}</td>
            <td>{{hotel_license_number}}</td>
            <td>{{hotel_total_floor}}</td>
            <th>
                <a href="/hotel/edit/{{this._id}}" class="btn btn-success">Edit</a>
                <a href="/hotel/remove/{{this._id}}" onclick="return cf_delete()" class="btn btn-danger">Delete</a>
                {{!-- <a href="/infroom/{{this._id}}" class="btn btn-warning">Room</a> --}}
            </th>
            <script>
                function cf_delete() {
                    return confirm("Bạn có chắc chắn muốn xóa ?");
                }
            </script>
        </tr>
        {{/each}}
    </tbody>
</table>